* {
  background-color: gray;
}

body {
  width: 700px;
}

.display {
  background-color: gray;
  color: white;
  text-align: right;
  font-size: 100px;
}

.display p {
  margin: 0;
  border: solid white 1px;
  padding-right: 0.2em;
}

.g1 button {
  border: solid white 1px;
  border-radius: 0%;
  color: white;
  background-color: black;
  font-size: 70px;
  min-width: 25%;
}

@media only screen and (max-width: 460px) {
  .g1 button {
    font-size: 35px;
  }

  .display {
    font-size: 50px;
  }
}

@media only screen and (max-width: 268px) {
  .g1 button {
    font-size: 17px;
  }

  .display {
    font-size: 25px;
  }
}
